
  <hr>
  <h3>
    <%= link_to document.title, document_path(document) %><br>
    <%= link_to '[delete document]', document, :method => :delete %>
  </h3>

  <% if document.privacy == true %>
    <%= form_for document, url: document_path(document), method: :patch do |f| %>
      <%= f.hidden_field :privacy, :privacy => false %>
      <%= f.submit("make public") %>
    <% end %>
  <% else %>
    <%= form_for document, url: document_path(document), method: :patch do |f| %>
      <%= f.hidden_field :privacy, :privacy => true %>
      <%= f.submit("make private") %>
    <% end %>
  <% end %>

  <h4><%= document.context %></h4>
  <h4>Currently Private? => <%= document.privacy %></h4>
  <p><%=h truncate(document.versions.last.content, :length => 80) %></p>

