<header>
  <h1><%= link_to 'Should I Send This?', root_url %></h1>
  <nav>
    <ul>
      <li> <%= link_to 'New Document', new_document_path %>   </li>
      <li> <%= link_to 'Show All', documents_path %>   </li>
      <li> <%= link_to 'Log In' %></li>
      <li> <%= link_to 'Sign Up' %></li>
    </ul>
  </nav>
</header>
