<%= @document.title %>
<br>
<%= @document.context %>

<h1>Versions</h1>
  <p id="content"><%= @current_version.content %></p>

<h2>Response Text</h2>


<div class="hidden">
  <div id="rawkeywords"><%= @keywords %></div>
  <div id="rawconcepts"><%= @concepts %></div>
  <div id="rawsentiment"><%= @sentiment %></div>
</div>


