<h1>Version #<%= @current_version.version_number %></h1>
<br>

<%= @document.title %><br>
<br>

<p id="content"><%= @current_version.content %></p>
<br>

<hr>
<table class="compare-cons">
  <tr>
    <th>You Think You Wrote:</th>
    <th>And</th>
    <th>Alchemy Thinks You're Writing About:</th>
  </tr>
  <tr>
    <td><%= @document.context %></td>
    <td>  </td>
    <td><%= @concepts.first %></td>
  </tr>

</table>
<br>

<h2>Add a comments:</h2>
<br>

<%= form_for(@comment, url: version_comment_path(@version, @comment), method: :post) do |f| %>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %><br>
<br>

<% @comments.each do |comment| %>
  <p>
    <small>by <%= comment.user.name %><br></small>
    <%= comment.body %>
  </p>
  <br>
<% end %>

<div class="hidden">
  <div id="rawkeywords"><%= @keywords %></div>
  <div id="rawconcepts"><%= @concepts %></div>
  <div id="rawsentiment"><%= @sentiment %></div>
</div>
